.body-grid{
	display: grid !important;
	grid-template-columns: repeat(3, 1fr) !important;
	grid-auto-rows: auto;
}


.body-grid a{
	font-size: 0.25em !important;
	width: 100% !important;
}


.entry:first-of-type {
    margin-top: calc(6 * 1rem) !important;
}


/*ADD LES COULEURS ICI*/
.session1{
 	color: red;
}

.session2{
	color: yellow;
}

.session3{
	color: green;
}

.session4{
	color: blue;
}

.session5{
	color:purple;
}

.session6{
	color: saddlebrown;
}


@include media (mobile){
	.body-grid{
		display: grid !important;
		grid-template-columns: repeat(4, 1fr) !important;
		grid-auto-rows: auto;
		grid-gap: 0px;
	}

	.body-grid a{
		font-size: 0.35em !important;
		width: 100% !important;
	}
}

@include media (tablet){
	.body-grid{
		display: grid !important;
		grid-template-columns: repeat(3, 1fr) !important;
		grid-auto-rows: auto;
		grid-gap: 0px;
	}

	.body-grid a{
		font-size: 0.35em !important;
		width: 100% !important;
	}
}

@include media (desktop){
	.body-grid{
		display: grid !important;
		grid-template-columns: repeat(2, 1fr) !important;
		grid-auto-rows: auto;
		grid-gap: 0px;
	}

	.body-grid a{
		font-size: 0.35em !important;
		width: 100% !important;
	}
}
